@media(max-width: 991px){

h1 h2 h3 h4 h5 h6{
		font-size: 20px;
}
p{
	font-size: 12px;

}

.main-section-2{
	display: none;

}
.main-section-2{}
.main-section-2 ul{
	display: block;
}
.main-section-2 a{
	
}

.portfolio{
	margin-top: 20px;
	margin-left: 100px;
}

span i{
	display: block;
}

	
.we-design-section h1{
	text-align: center;
	font-size: 20px;
	font-weight:900;
	color: #fff;
}
.featured-works-2 img{
    width: 100%;
    margin-bottom: 10px;
}
.fotter-menu-2{
	display: none;
}

.business img{
	width: 40%;
	margin-bottom: 10px;
}

}